# Banco de dados
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=indt_lote_pim

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=Admin@2026

# Segredos do JWT
# Coloque strings longas e aleatórias aqui
JWT_ACCESS_SECRET= xxx
JWT_REFRESH_SECRET= xxx
# Servidor
PORT=3000